/.tmp/
/tmp.ts
/tmp.js
/tmp.sh
/.tsbuildinfo
.idea/
node_modules/
package-lock.json
!test/fixtures/reinstall/node_modules/
!test/fixtures/build/node_modules/
!test/fixtures/reinstall/package-lock.json
dist/
coverage/
.nyc_output/
yarn-error.log
*.tgz
git_gpg_keys.asc
/.alobuild-tsconfig-*.json
