/.idea/
/node_modules/
/src/
/test/
/coverage/
/.nyc_output/
/.tmp/
/package-lock.json
/.nycrc
/yarn.lock
/.releaserc.yml
/*.tgz
/.travis.yml
/mocha.opts
/yarn-error.log
/tsconfig*.json
/tslint.json
/git_gpg_keys.asc
/prepare-gpg-key.sh
/git_gpg_keys.asc.enc
